body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header p {
  text-align: center
}

.logo {
  display: block;
  margin: auto;
  width: 250px;
  height: 98px;
  background-image: url('logo.svg');
  background-repeat: no-repeat;
}

footer {
  text-align: center;
}

footer a {
  transition: all 0.1s;
  text-decoration: none;
  color: #000;
}

footer a:hover {
  text-decoration: underline;
  color: #0366d6;
}
